@page "/Login"
@using ShopAPI
@using Microsoft.AspNetCore.Components

@inject ClientAPI _client

<h3>Login</h3>

@if (IsAuthorized)
{
    <span>Succes</span>
}else{
<EditForm Model="_account" OnValidSubmit="ProcessValidForm">
    <DataAnnotationsValidator/>
    Login: <InputText @bind-Value="_account.Login"/>
    Password: <InputText @bind-Value="_account.Password"/>
    <br/> <input type="submit" value="SignIn">
    <ValidationSummary/>
</EditForm>
}

@if (currentAccount != null)
{
    <div>Name: @currentAccount.Name</div>
    <div>Email: @currentAccount.Email</div>
}

@code {
    public bool IsAuthorized = false;

    public async Task ProcessValidForm()
    {
        var response = await _client.Authorization(_account);

        if (response.IsSuccessStatusCode)
        {
            var accounts = await _client.GetAccounts();
            currentAccount = accounts.Where(i => i.Login == _account.Login).FirstOrDefault();
            IsAuthorized = true;
        }
            
    }

    Account currentAccount;
    AccountRequestModel _account = new AccountRequestModel();
}